body {
    font-family:sans-serif;
    color:rgb(230, 230, 230);
    background: url("/resources/mountain_clouds.jpg") rgba(0, 0, 0, 0.5);
    background-size:cover;
    background-blend-mode: multiply;
}